<div id="hero-block" class="hero-block style-two pd-t-210 pd-b-120 mrb-75">
  <div class="hero-shape-overlay bg-image-100" style="background-image: url('assets/images/shape/hero2.png')"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-content-area">
          <h2 class="hero-title mrb-20">Agence de web digital et de communication</h2><!-- /.hero-title -->
          <div class="hero-desc">
            <p>Conseil et accompagnement de vos transformation digitales.</p>
          </div><!-- /.hero-desc -->
          <div class="hero-block-bottom mrt-60">
            <div class="form-group-btn">
              <a class="btn btn-default mrr-30" href="#">Travaillez avec nous</a>
              <a href="#" class="btn-call-to">Appelez-nous pour toute demande<span>+212 6 11 27 83 80</span></a>
            </div><!-- /.form-group-btn -->
            <div class="social-status mrt-90">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div><!-- /.social-status-->
          </div><!-- /.hero-block-bottom -->
        </div><!-- /.hero-content-area -->
      </div><!-- /.col-lg-6 -->

      <div class="col-lg-6">
        <div class="hero-thumbnail-area">
          <figure class="hero-thumb">
            <img src="assets/images/header2.png" alt="Thumbnail">
          </figure>
        </div><!-- /.hero-thumbnail-area -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.hero-block -->
