<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Site Header
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="site-header default-header-style">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="navigation-area">
          <!-- Site Branding -->
          <div class="site-branding">
            <a>
              <img src="assets/images/logo/logo-bgs.png" alt="Site Logo" />
            </a>
          </div><!--  /.site-branding -->

          <!-- Site Navigation -->
          <div class="site-navigation">
            <div class="hamburger-menus">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <nav class="navigation">
              <div class="overlaybg"></div><!--  /.overlaybg -->
              <!-- Main Menu -->
              <div class="menu-wrapper">
                <div class="menu-content">
                  <ul class="mainmenu">
                    <li>
                      <a class="nav-link active" href="/">Accueil</a>
                    </li>
                    <li>
                      <a class="nav-link" href="#service-block">Services</a>
                    </li>
                    <li>
                      <a class="nav-link" href="#about-block">À propos</a>
                    </li>
                    <li>
                      <a class="nav-link" href="#team-block">Equipe</a>
                    </li>
                  </ul> <!-- /.menu-list -->
                </div> <!-- /.hours-content-->
              </div><!-- /.menu-wrapper -->
            </nav>
          </div><!--  /.site-navigation -->

          <div class="header-navigation-right">
            <div class="lets-talk-area">
              <a class="btn btn-default nav-link"  href="#lets-talk">Let's Talk</a>
            </div><!--~./ lets-talk-area ~-->
          </div><!--~./ header-navigation-right ~-->
        </div><!--  /.navigation-area -->
      </div><!--  /.col-12 -->
    </div><!--  /.row -->
  </div><!--  /.container-fluid -->
</header><!--~~./ end site header ~~-->
<!--~~~ Sticky Header ~~~-->
<div id="sticky-header"></div><!--~./ end sticky header ~-->
