<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           Start Team Block
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="team-block" class="team-block mrb-200 pd-b-60">
  <div class="container">
    <!-- Title Row -->
    <div class="row align-items-center">
      <div class="col-lg-5" data-animate="hg-fadeInLeft" data-duration="1.0s"  data-offset="100">
        <div class="section-title" >
          <h4 class="title-sub">Notre équipe <img src="assets/images/icon/divider.png" alt="icon"></h4><!--  /.title-sub -->
          <h2 class="title-main">Un aspect essentiel de la créativité est de ne pas avoir peur de l'échec.</h2><!-- /.title-main -->
        </div><!-- /.section-title -->
        <div class="block-content-info">
          <p class="description mrb-55">Chez BGS, notre équipe passionnée et créative excelle dans la création d'architectures web innovantes. Nous croyons en l'audace, la précision et l'acceptation des défis. Optez pour notre expertise pour un succès numérique garanti. Nous transformons des idées en expériences numériques mémorables, prêts à saisir chaque opportunité avec détermination..</p>
          <a class="btn btn-default" href="team.html">Rencontrez notre équipe</a>
        </div><!-- /.block-content-info -->
      </div><!-- /.col-lg-5 -->

      <div class="col-lg-7">
        <div class="team-member-thumb-area style-two ml-b-60">
          <div class="team-member-main pd-b-60">
            <div class="team-member">
              <img src="assets/images/team/me.jpeg" alt="thumb" />
            </div><!-- /.team-member -->
            <div class="team-member-list">
              <div class="team-member">
                <img src="assets/images/team/otman.jpg" alt="thumb" />
              </div><!-- /.team-member -->
<!--              <div class="team-member">-->
<!--                <img src="assets/images/team/2/3.png" alt="thumb" />-->
<!--              </div>&lt;!&ndash; /.team-member &ndash;&gt;-->
<!--              <div class="team-member">-->
<!--                <img src="assets/images/team/2/4.png" alt="thumb" />-->
<!--              </div>&lt;!&ndash; /.team-member &ndash;&gt;-->
            </div><!-- /.team-member-list -->
          </div><!-- /.team-member-main -->
        </div><!-- /.team-member-thumb-area -->
      </div><!-- /.col-lg-7 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!--~~./ end Team block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           Start Call To Action
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="lets-talk" class="call-to-action mrb-200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8" data-animate="hg-fadeInUp" data-duration="1.0s"  data-offset="100">
        <h2 class="call-to-title">Avez-vous des  . <span>projets</span> en tête ? Parlons-en.</h2><!-- /.call-to-title -->
        <div class="action-btn-group pd-t-35">
          <a href="#" class="btn btn-default">Laissez-nous discuter.</a>
        </div>
      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.our-work-step -->
