<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start service Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="service-block" class="service-block mrb-200">
  <div class="container ml-b-30">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="section-title text-center" data-animate="hg-fadeInUp" data-duration="1.0s" data-offset="100">
          <h4 class="title-sub">Ce que nous faisons</h4><!--  /.title-sub -->
          <h2 class="title-main">Nous Développons des produits numérique pour votre succes en ligne.</h2><!-- /.title-main -->
          <div class="divider">
            <img src="assets/images/icon/divider.png" alt="icon">
          </div>
        </div><!-- /.section-title -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div class="row">

      <div class="col-lg-6">
        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s"  data-offset="100">
          <div class="service-icon color-silver-tree">
            <span class="icon-business-management-megaphone"></span>
          </div><!-- /.service-icon -->
          <div class="service-info">
            <h2 class="service-title">Conception et Développement de Sites Web </h2><!-- /.service-title -->
            <p>Conception web sur mesure, innovation, qualité.</p>
          </div><!-- /.service-info -->
        </div><!-- /.service-card -->
      </div><!-- /.col-lg-6 -->

      <div class="col-lg-6">
        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s"  data-offset="100">
          <div class="service-icon color-medium-purple">
            <span class="icon-briefcase-business-management"></span>
          </div><!-- /.service-icon -->
          <div class="service-info">
            <h2 class="service-title">Product Design</h2><!-- /.service-title -->
            <p>Why money's in that office, right? If she start giving means some bullet about ain't there.</p>
          </div><!-- /.service-info -->
        </div><!-- /.service-card -->
      </div><!-- /.col-lg-6 -->

      <div class="col-lg-6">
        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s"  data-offset="100">
          <div class="service-icon color-curious-blue">
            <span class="icon-award-champion-c"></span>
          </div><!-- /.service-icon -->
          <div class="service-info">
            <h2 class="service-title">Marketing Digital</h2><!-- /.service-title -->
            <p>Stratégie numérique, visibilité en ligne.</p>
          </div><!-- /.service-info -->
        </div><!-- /.service-card -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="service-card-two" data-animate="hg-zoomIn" data-duration="1.0s" data-offset="100">
          <div class="service-icon color-zinnwaldite">
            <span class="icon-bulb-business-idea-management"></span>
          </div><!-- /.service-icon -->
          <div class="service-info">
            <h2 class="service-title">Branding & Création d'identité visuelle</h2><!-- /.service-title -->
            <p>Branding & Identité visuelle : Créativité, mémorabilité.</p>
          </div><!-- /.service-info -->
        </div><!-- /.service-card -->
      </div><!-- /.col-lg-6 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.service-block -->
