<footer class="site-footer footer-default-style pd-b-20">
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      Start Footer Widget Area
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div class="footer-widget-area">
    <div class="container">
      <div class="row justify-content-between">
        <!--~~~~~ Start Widget About Footer ~~~~~-->
        <div class="col-lg-4">
          <aside class="widget bt-about-footer-widget">
            <div class="widget-content">
              <div class="about-logo">
                <a href=""><img  style="height:80px; width : 70px" src="assets/images/logo/logo-icon.png" alt="Logo"></a>
              </div>
              <p>Notre approche est centrée sur la transformation digitale basée sur les dernières technologies et nouveautés du marché afin de répondre au mieux à vos besoins et challenges..</p>
            </div>
          </aside>
        </div><!--~./ end about footer widget ~-->

        <!--~~~~~ Start Widget Business Hours ~~~~~-->
        <div class="col-lg-4">
          <aside class="widget widget-business-hours">
            <h2 class="widget-title">Heures de travail</h2>
            <div class="widget-content">
              <h4>Jours d'ouverture</h4>
              <ul>
                <li>Lundi – Vendredi <span>9.00am to 6.00pm</span></li>
<!--                <li>Saturday <span>11.00am to 2.00pm</span></li>-->
              </ul>
<!--              <h4>Vacations</h4>-->
<!--              <ul>-->
<!--                <li>All Sunday Days</li>-->
<!--              </ul>-->
            </div>
          </aside>
        </div><!--~./ end widget business hours  ~-->

        <!--~~~~~ Start Subscribe Widget~~~~~-->
        <div class="col-lg-3">
          <aside class="widget tb-subscribe-widget">
            <h2 class="widget-title">Newsletter</h2>
            <div class="widget-content">
              <div class="subscribe-form">
                <!-- Subscribe form -->
                <form class="dv-form" id="mc-form">
                  <div class="form-group">
                    <input id="mc-email" name="EMAIL" placeholder="Enter Your Email Address" type="email">
                  </div>
                  <button class="btn btn-default" name="Subscribe" id="subscribe-btn" type="submit">Merci</button>
                </form>
              </div>
            </div>
          </aside>
        </div><!--~./ end subscribe widget ~-->
      </div>
    </div>
  </div><!--~./ end footer widgets area ~-->

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      Start Instagram Widget Area
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div class="instagram-widget-area pd-b-40 pd-t-35">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="widget bt-instafeed-widget">
            <ul id="instafeed">
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/1.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/2.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/3.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/4.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/5.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/6.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/7.jpg" alt="#">
                </a>
              </li>
              <li class="feed-item">
                <a href="#">
                  <img src="assets/images/widget/instagram/1/8.jpg" alt="#">
                </a>
              </li>
            </ul>
            <div class="instafeed-heading">
              <div class="heading">
                <h4>Follow Us <span>#Wakala</span></h4>
              </div><!--/.tb-cell-->
            </div><!--/.instafeed-heading-->
          </div><!--/.widget-instafeed-->
        </div>
      </div>
    </div>
  </div><!--~./ end instagram widget area ~-->

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      Start Footer Bottom Area
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul><!--  /.footer-social -->
        </div><!--~./ end copyright ~-->
        <div class="col-md-6">
          <div class="copyright-text">
            <p>© 2023 . Powered By <a href="#">BGS</a></p>
          </div><!--~./ end footer menu ~-->
        </div>
      </div>
    </div>
  </div><!--~./ end footer bottom area ~-->

</footer><!--~./ end site footer ~-->
