<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           Start About Us Block
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="about-block" class="about-us-block about-style-two pd-t-100 pd-b-100 mrb-200">
  <div class="mock-up-thumb-back bg-image-100" style="background-image: url('assets/images/meeting-.jpg')"></div><!-- /.mock-up-thumb-back -->

  <div class="container">
    <!-- Title Row -->
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5">
        <div class="mock-up-thumb reveal-right">
          <img src="assets/images/others/about2.jpg" alt="About Mock" />
          <div class="video-btn-area">
            <a href="blob:https://player.vimeo.com/9483ed29-f614-482c-bd59-b870afcdba1e" class="video-btn video-popup">
              <span class="icon-play31"></span>
            </a>
          </div><!-- /.video-btn-area -->
        </div><!-- /.mock-up-block -->
      </div><!-- /.col-lg-5 -->

      <div class="col-lg-6">
        <div class="section-title">
          <h4 class="title-sub">À propos de nous .<img src="assets/images/icon/divider.png" alt="icon"></h4><!--  /.title-sub -->
<!--          <h2 class="title-main">Content has to be more that just brilliant</h2>&lt;!&ndash; /.title-main &ndash;&gt;-->
        </div><!-- /.section-title -->

        <div class="block-content-info about-content">
          <p class="description">BGS est en mesure de vous accompagner sur l’ensemble de vos besoins en expertise digitale. Notre équipe veille à répondre sur-mesure aux besoins de vos projets en matière de design, développement & communication..</p>
          <div class="hg-promo-numbers ml-t-20">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="tg-promo-number">
                  <div class="odometer" data-odometer-final="72">0</div><!-- /.odometer -->
                  <h4 class="promo-title">Satisfied Customers</h4><!-- /.promo-title -->
                </div><!-- /.tg-promo-number -->
              </div><!-- /.col-lg-6 -->

              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="tg-promo-number">
                  <div class="odometer" data-odometer-final="120">0</div><!-- /.odometer -->
                  <h4 class="promo-title">project finished</h4><!--  /.promo-title -->
                </div><!-- /.tg-promo-number -->
              </div><!-- /.col-lg-6 -->

              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="tg-promo-number">
                  <div class="odometer" data-odometer-final="279">0</div><!-- /.odometer -->
                  <h4 class="promo-title">employees</h4><!--  /.promo-title -->
                </div><!-- /.tg-promo-number -->
              </div><!-- /.col-lg-6 -->

              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="tg-promo-number">
                  <div class="odometer" data-odometer-final="77">0</div><!-- /.odometer -->
                  <h4 class="promo-title">international awards</h4><!-- /.promo-title -->
                </div><!-- /.tg-promo-number -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div><!-- /.block-promo-numbers -->
        </div><!-- /.about-content -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!--~~./ end about us block ~~-->
