/*--------------------------------------------------------------
# Popular, Latest Post, Recent Comment widget
--------------------------------------------------------------*/
.widget-post-list {
    .post {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        background-color: transparent;
        box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0);
        > .thumb-wrap {
            flex: 0 0 100px;
            max-width: 100px;
            overflow: hidden;
            position: relative;
        }
        .content-entry-wrap {
            -moz-box-flex: 0;
            flex: 0 0 calc(100% - 100px);
            max-width: calc(100% - 100px);
            padding-left: 15px;
            text-align: left;
            .entry-meta-content {
                display: block;
                margin-bottom: 0px;
            }
        }
        .entry-title {
            font-size: 16px;
            line-height: 1.25em;
            margin-bottom: 18px;
        }
    }
	li {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		color: $soft_nero;
		padding-left: 20px;
		margin-top: 15px;
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			border-radius: 50px;
			background: $blue_violet;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}
.widget-content img {
	display: block;
}
/*--------------------------------------------------------------
# Categories And Archive Widget
--------------------------------------------------------------*/
.widget_categories,
.widget_archive,
.widget_layered_nav {
	ul li {
		font-size: 16px;
        text-transform: capitalize;
		display: block;
		color: $color__heading;
		line-height: 1em;
		font-weight: 500;
        padding-top: 25px;
		@include prefixed(transition, all .25s ease-in 0s);
		position: relative;
        overflow: hidden;
		ul {
			padding-left: 15px;
		}
		.count {		
			float: right;
            color: $color_text_main;
		}
        a:hover {
            color: $color__primary;
            .count {	
                color: $color__primary;
            }
        }
	}
	ul > li:first-child {
		border: 0 none;
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.bsm-select-wrapper li {
		padding-top: 0 !important;
		margin-top: 0 !important;
	} 
	.bsm-select-wrapper {
		input.select-dropdown {
			margin-bottom: 0;
		    padding: 0 20px;
		    box-sizing: border-box;
		    border-top: 1px solid #ddd;
		    border-left: 1px solid #ddd;
		    border-right: 1px solid #ddd;
		    border-radius: 30px;
		    font-size: 14px;
		    font-weight: 500;
		}
		span.caret {
			right: 15px;
		}
		.bsm-dropdown-content li>a, 
		.bsm-dropdown-content li>span {
			font-size: 14px;
			color: inherit;
			display: block;
			line-height: 30px;
			padding: 10px 16px;
		}
	}
}
.widget_categorie {
	li {
		.count {		
			&:after {
				content: ")";
				position: relative;
				left: 0;
			}
		}
	}
}
.widget_text {
	.bsm-select-wrapper li {
		padding-top: 0 !important;
		margin-top: 0 !important;
	} 
	.bsm-select-wrapper {
		input.select-dropdown {
			margin-bottom: 0;
		    padding: 0 20px;
		    box-sizing: border-box;
		    border-top: 1px solid #ddd;
		    border-left: 1px solid #ddd;
		    border-right: 1px solid #ddd;
		    border-radius: 30px;
		    font-size: 14px;
		    font-weight: 500;
		}
		span.caret {
			right: 15px;
		}
		.bsm-dropdown-content li>a, 
		.bsm-dropdown-content li>span {
			font-size: 14px;
			color: inherit;
			display: block;
			line-height: 30px;
			padding: 10px 16px;
		}
	}
}
/*------------------------------------------------------------------------
# Links, Meta, NavMenu, Pages, Recent Comment, Recent Entries  Widget
-------------------------------------------------------------------------*/
.widget_links a,
.widget_meta a,
.widget_nav_menu .menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a,
.widget_product_categories a {
	border: 0;
}
.widget_nav_menu .menu a .fa {
	display: none;
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_product_categories {
	font-size: 15px;
    @media only screen and (max-width: 767px){
        font-size: 14px;
    }
	a {
		border: 0;
		text-decoration: none;
        &:hover,
        &:focus {
            color: $color__primary;
        }
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			padding: 8px 0;
			border-bottom: 0 none;
            line-height: 1.25em;
		}	
	}
	> ul {
		position: relative;
	}
	ul > li:first-child {
		margin-top: 0;
		padding-top: 3px;
		border-top: 0 none;
	}
	ul > li:last-child {
		padding-bottom: 0px;
        margin-bottom: 0px;
	}
}
.widget {
	.menu {
		position: relative;
		> li:first-child {
			border-top: 0 none;
			padding-top: 0;
		}
		.sub-menu {
			box-shadow: 0 0 0 rgba(0,0,0,0);
		}
	}
}

.widget_nav_menu .sub-menu,
.widget_pages .children {
	border: 0;
	margin: 0 0 0 1em;
}
.widget_recent_entries .post-date {
	display: block;
}

/*--------------------------------------------------------------
# Instafeed Widget
--------------------------------------------------------------*/
.bt-socail-widget { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    .widget-content { 
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        > .bt-socail-profile { 
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
            -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            padding: 0.5px;
            -webkit-transition:all 0.25s;
            transition: all 0.25s;
            > .icon {
                display: block;
                color: $white;
                min-height: 80px;
                padding: 13px 5px;
                &.bt-facebook-icon {
                    background-color: #39579A;
                }
                &.bt-google-plus-icon {
                    background-color: #D94830;
                }
                &.bt-twitter-icon {
                    background-color: #0C9EF5;
                }
                &.bt-youtube-icon {
                    background-color: #E21C00;
                }
                &.bt-instagram-icon {
                    background-color: #4E54D3;
                }
                &.bt-vimeo-icon {
                    background-color: #1AB1F0;
                }
                &.bt-pinterest-icon {
                    background-color: #B00000;
                }
                &.bt-soundcloud-icon {
                    background-color: #FF8800;
                }
                > span {
                    display: block;
                    line-height: 15px;
                }
                .social-icon {
                    line-height: 15px;
                    margin-bottom: 8px;
                }
                .bt-count {
                    font-weight: 600;
                    font-size: 12px;
                }
                .bt-media-type {
                    font-size: 11px;
                }
            }
            &:hover {
                opacity: 0.8;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
            }
        }
    }
}

/*--------------------------------------------------------------
# Instafeed Widget
--------------------------------------------------------------*/
.bt-instafeed-widget { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    position: relative;
    .instafeed-heading {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        left: 50%;
        position: absolute;
        top: 50%;;
        z-index: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        .heading {
            background-color: #283A60;
            text-align: center;
            padding: 13px 30px 17px;
            border-radius: 15px;
            h4 {
                margin-bottom: 0px;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 1.9em;
                color: $white;
                span {
                    display: block;
                    font-size: 24px;
                    text-transform: none;
                    text-transform: capitalize;
                }
            }
        }
    }
    #instafeed-sidebar,
    #instafeed { 
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        overflow: hidden;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        > .feed-item { 
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
            -webkit-box-flex: 0;
                -ms-flex: 0 0 12.5%;
                    flex: 0 0 12.5%;
            max-width: 12.5%;
            @media only screen and (max-width: 991px) {
                flex: 0 0 25%;
                max-width: 25%;
            }
            a {
                display: block;
            }
            img {
                width: 100%;
                -webkit-transition:all 0.25s;
                transition: all 0.25s;
            }
            &:hover img {
                opacity: 0.9;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
            }
        }
    }
}

/*--------------------------------------------------------------
# About Widget
--------------------------------------------------------------*/
.bt-about-footer-widget {
    font-size: 15px;
    padding-right: 20px;
    @media only screen and (max-width: 767px){
        font-size: 14px;
    }
    .about-logo {
        margin-bottom: 20px;
        a {
            display: block;
        }
        img {
            display: inline-block;
        }
    }
    p {
        line-height: 1.7em;
        @media only screen and (max-width: 991px) {
            text-align: center;
        }
    }
}

/*--------------------------------------------------------------
# Business Hours Widget
--------------------------------------------------------------*/
.widget-business-hours { 
    .widget-content {
        > h4 {
            color: #293b5f;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        > ul {
            font-size: 15px;
            margin-bottom: 15px;
            @media only screen and (max-width: 767px){
                font-size: 14px;
            }
            li {
                margin: 15px 0;
                overflow: hidden;
                @media only screen and (max-width: 767px){
                    margin: 10px 0;
                }
                > span {
                    float: right;
                    display: inline-block;
                    padding-left: 15px;
                }
            }
        }
    }
}
/*--------------------------------------------------------------
# Subscribe Widget
--------------------------------------------------------------*/
.social-share-widget {
    .footer-social li a:hover {
        background-color: $color__heading !important;
        box-shadow: 3px 3px 11px rgba(34,35,141,0.25);
    }
}
/*--------------------------------------------------------------
# Subscribe Widget
--------------------------------------------------------------*/
.tb-subscribe-widget { 
    .subscribe-form {
        font-size: 15px;
        @media only screen and (max-width: 767px){
            font-size: 14px;
        }
        .form-group {
            margin-bottom: 30px;
            label {
                display: block;
            }
            input[type="email"] {
                background-color: transparent;
                border-bottom: 1px solid $color__border-one;
                padding: 0 0 14px !important;
                width: 100%;
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    width: 70%;
                }
                &:focus {
                    color: $color__heading;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# RSS Widget
--------------------------------------------------------------*/
.widget_rss {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	ul {
		list-style: none;
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		margin-bottom: 1.6em;
		padding-bottom: 25px;
		&:last-child {
			margin-bottom: 0;		
		}
		.rssSummary {
			margin: 5px 0;
			line-height: 1.75em;
		}
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
	}
	.rsswidget img {
		margin-top: -4px;
	}
	.rss-date, cite {
		font-size: 0.8em;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}
	> p {
		position: relative;
	}
}

#wp-calendar caption {
	font-weight: 600;
}
#wp-calendar {
	td, 
	th {
		padding: 8px;
		text-align: center;
		border: 1px solid #ddd;
	} 
}
/*--------------------------------------------------------------
# Search Widget
--------------------------------------------------------------*/
.widget_search,
.widget_product_search {
	.input-group .form-controller {
		display: table-cell;
		border-top: 1px solid $color__border-two;
		border-left: 1px solid $color__border-two;
		border-right: 1px solid $color__border-two;
		padding: 5px 15px;
		height: 32px;
		margin-bottom: 0;
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
		border-bottom-color: $color__border-two;
	}
	button {
		@include prefixed(border-radius, 0);
		padding: 0.75em 1em;
	}
	.btn-search {
		i {
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
	.btn.btn-default {
		border: 1px solid $color__border-two;
	}
}

.tagcloud {
	a {
		font-size: inherit !important;
		background: $deep_cerise;
		padding: 10px 20px;
		font-size: 15px;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 10px;
		font-weight: 500;
		color: $white;
	}
}

.widget_gallery {
	.gallery-content {
		img {
			width: 100%;
			margin-bottom: 30px;
		}
	}
}

.dark {
	.widget_categories,
	.widget_archive,
	.widget_layered_nav {
		ul li {
			color: #e1e1e1;
		} 
	}
}